li.menu-item > a::before {
  content: "+";
  position: absolute;
  left: auto;
  right: 0px;
  top: 50%;
  text-align: center;
  z-index: 9999;
  font-size: 16px;
  display: block;
  cursor: pointer;
  transform: translateY(-50%);
}

<li class="w-16 ">
<a
  href="#"
  className="py-[38px] after:content-['+'] hover:after:content-['-'] hover:text-primary transition-all duration-400 ease-linear after:ml-1"
>
  Home
</a>
</li>
<ul className="absolute bg-base left-0 mt-[35px] space-y-2 opacity-0 transform transition-all duration-300 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 ">
class={`${rubik.className}  relative flex items-center gap-9 text-white text-lg font-medium `}
