@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  h2 {
    @apply text-5xl leading-[58px] font-bold;
  }
  h5 {
    @apply text-xl text-[rgb(25,25,25)] leading-[30px] font-bold;
  }
  h6 {
    @apply text-lg leading-[20px] text-primary font-normal capitalize mb-[17px];
  }
  p {
    @apply text-[rgb(86,88,114)] text-lg font-normal;
  }
}

/* Home Start */

.grap-btn:hover::before {
  height: 100%;
  top: auto;
  bottom: 0;
}

.to_bottom:hover:before {
  height: 100%;
  top: auto;
  top: 0;
}

.animated-img {
  animation: rotated 20s infinite linear;
}
@keyframes rotated {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-img2 {
  animation: halfBounce2 2s infinite;
}

@keyframes halfBounce2 {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.popup:before {
  animation: zoomBig 3.25s linear infinite;
  animation-delay: 0.75s;
}
.popup:after {
  animation: zoomBig 3.25s linear infinite;

  animation-delay: 0s;
}
@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

.layer {
  animation-delay: 2.8s;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.service-item-02:hover:after {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.client-slider.owl-carousel a:hover .normal {
  display: block;
  visibility: hidden;
  transform: translateY(100%);
}

.client-slider.owl-carousel a:hover .hover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  opacity: 3;
  visibility: visible;
  transform: translateY(0%);
}

.pricintable-01:hover:after,
.pricintable-01:hover:before {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.pricintable-01 ul li::before {
  content: "\2713";
}
.pricintable-01:hover ul li::before,
.pricintable-01:hover ul li {
  color: #fff;
}

.slider-button:hover:after {
  width: 100%;
  height: 100%;
}
.lr_more:hover svg {
  transform: translate3d(-66.6%, 0, 0);
  stroke: #686ee2;
}

.widget ul li:hover:before {
  margin-right: 13px;
  color: #686ee2;
}
/* Home End */

/* service 3 */

/* Important notice */

/* .service-item-04:hover .ib-icon svg {
  fill: #686ee2;
} */

.team:hover > ul {
  opacity: 1;
  left: 252px;
  visibility: visible;
}

/* .video_image {
  position: relative;
  padding: 27px 0 0;
  z-index: 2;
} */
/* .video_image img {
  max-width: 100%;
  height: auto;
  border-radius: 29px;
} */
.bgcolor {
  width: 298px;
  height: 536px;
  background: #686ee2;
  border-radius: 29px;
  position: absolute;
  right: 13%;
  top: 0;
  z-index: -1;
}
.video_image .popup {
  animation: movebounce 3s linear infinite;
}

/* .video_image .popup:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  background: rgba(8, 24, 69, 0.7);
} */
/* .video_image .popup img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
} */
/* .video_image .popup i {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 206px;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
} */
.video_image .popup:hover {
  color: #686ee2;
}

.ab-content {
  position: relative;
}
.ab-content .sec-title {
  margin-bottom: 15px;
  font-size: 46px;
  line-height: 56px;
}
/* .ab-content .service-item-01 {
  background: transparent;
  padding: 0 0 0 60px;
  margin: 32px 0 0;
  box-shadow: none;
} */
.ab-content .service-item-01:after {
  background: transparent;
}
.ab-content .service-item-01 .ib-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  min-width: 48px;
  line-height: 48px;
  font-size: 22px;
  color: #686ee2;
  margin: 0;
  text-align: center;
  left: 0;
  top: -6px;
  border: 2px solid rgba(25, 25, 25, 0.1);
  border-radius: 50%;
}
.ab-content .service-item-01 .ib-icon svg {
  max-width: 22px;
}
.ab-content .service-item-01:hover .ib-icon svg path {
  fill: #686ee2;
}
.ab-content .service-item-01 h5 {
  font-size: 18px;
  color: #565872;
  line-height: 0.8;
  font-weight: 400;
  margin: 0 0 1px;
}
.ab-content .service-item-01 p {
  font-size: 16px;
  margin: 0;
  color: #081845;
  font-weight: 700;
}
.single_skill {
  position: relative;
  margin-bottom: 25px;
}
.single_skill h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 13px;
}
.ss_parent {
  position: relative;
  background: #f7f7f7;
  height: 8px;
  width: 100%;
}
.ss_parent span {
  position: absolute;
  font-size: 16px;
  line-height: 0.8;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #191919;
  font-weight: 600;
  right: 0;
  top: -31px;
}
.ss_child {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #686ee2;
}
.divider {
  margin-bottom: 34px;
}
.yearsXP {
  position: relative;
  background: #fff;
  font-family: "Rubik", sans-serif;
  display: flex;
  padding: 5px 45px;
  border-left: 5px solid #686ee2;
  box-shadow: 0px 6px 50px 0px rgba(37, 37, 37, 0.05);
  -webkit-box-shadow: 0px 6px 50px 0px rgba(37, 37, 37, 0.05);
  -ms-box-shadow: 0px 6px 50px 0px rgba(37, 37, 37, 0.05);
}
.yearsXP h2 {
  font-size: 68px;
  color: #686ee2;
  line-height: 90px;
  min-width: 95px;
  margin: 0 25px 0 0;
}
.yearsXP h3 {
  font-size: 15px;
  line-height: 25px;
  color: #081845;
  margin: 21px 0 0;
}
