@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  h2 {
    @apply text-5xl leading-[58px] font-bold;
  }
  h5 {
    @apply text-xl text-[rgb(25,25,25)] leading-[30px] font-bold;
  }
  h6 {
    @apply text-lg leading-[20px] text-primary font-normal capitalize mb-[17px];
  }
  p {
    @apply text-[rgb(86,88,114)] text-lg font-normal;
  }
}

/* Home Start */

.grap-btn:hover::before {
  height: 100%;
  top: auto;
  bottom: 0;
}

.to_bottom:hover:before {
  height: 100%;
  top: auto;
  top: 0;
}

/* .to_left:hover:before {
  width: 100%;

  left: 0;
  right: auto;
} */

.animated-img {
  animation: rotated 20s infinite linear;
}
@keyframes rotated {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-img2 {
  animation: halfBounce2 2s infinite;
}

@keyframes halfBounce2 {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.popup:before {
  animation: zoomBig 3.25s linear infinite;
  animation-delay: 0.75s;
}
.popup:after {
  animation: zoomBig 3.25s linear infinite;

  animation-delay: 0s;
}
@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

.layer {
  animation-delay: 2.8s;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.service-item-02:hover:after {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.client-slider.owl-carousel a:hover .normal {
  display: block;
  visibility: hidden;
  transform: translateY(100%);
}

.client-slider.owl-carousel a:hover .hover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  opacity: 3;
  visibility: visible;
  transform: translateY(0%);
}

.pricintable-01:hover:after,
.pricintable-01:hover:before {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.pricintable-01 ul li::before {
  content: "\2713";
}
.pricintable-01:hover ul li::before,
.pricintable-01:hover ul li {
  color: #fff;
}

.slider-button:hover:after {
  width: 100%;
  height: 100%;
}
/* customize done */
.blog_more:hover svg {
  transform: translate3d(-66.6%, 0, 0);
  stroke: #686ee2;
}

.widget ul li:hover:before {
  margin-right: 13px;
  color: #686ee2;
}
/* Home End */

/* service 3 */

.team:hover > ul {
  opacity: 1;
  left: 252px;
  visibility: visible;
}

.video-popup {
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Important notice */

/* .service-item-04:hover .ib-icon svg {
  fill: #686ee2;
} */
/* .tm-social:hover:after {
  width: 100%;
} */

.call {
  animation: shadows 1s linear infinite;
}
@keyframes shadows {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2),
      0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 30px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2),
      0 0 0 30px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0);
  }
}
/* customize done */
.shaffle-filter li.active:before,
.shaffle-filter li:hover:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* Shuffle */
/* shuffle-img */
$picture-gutter: 24px;

.picture-item {
  height: 220px;
  margin-top: 24px;

  img {
    display: block;
    width: 100%;
  }
}

@supports (object-fit: cover) {
  .picture-item img {
    max-width: none;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .picture-item {
    height: auto;
    margin-top: 20px;
    width: 100%;
    margin: auto;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.shuffle-img {
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.shuffle-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .shuffle-img {
    display: flex;
    width: 50%;
  }

  .row {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1024px) {
  .shuffle-img {
    float: left;
    width: 33.33333%;
  }
}

/* customize done */
.active {
  animation-name: fadeMove;
  animation-duration: 0.9s;
  animation-fill-mode: both;
  visibility: visible;
  opacity: 1;
  width: 100%;
}

@keyframes fadeMove {
  0% {
    opacity: 0.1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
